{% extends 'blog/base.html' %}

{% block body_block %}
<div class="col-sm-8 blog-main">

  {% for post in posts %}
  <div class="blog-post">
      <h2 class="blog-post-title"><a href="/blog/post/{{post.id}}/">{{ post.title }}</a></h2>
    <p class="blog-post-meta">{{ post.crated }}</p>

    <p>{{ post.body }}</p>

    {% for posttag in post.tags.all %}
    <span class="label label-default"><a href="/blog/tag/{{posttag.text}}/">{{ posttag }}</a></span>
    {% endfor %}
  </div><!-- /.blog-post -->
  {% empty %}
  <p> Пока постов нету </p>
  {% endfor %}

  <ul class="pager">
    {% if posts.has_previous %}
        <li><a href="?page={{ posts.previous_page_number }}">Назад</a></li>
    {% endif %}
    <span class="current">
        Страница {{ posts.number }} из {{ posts.paginator.num_pages }}
    </span>
    {% if posts.has_next %}
    <li><a href="?page={{ posts.next_page_number }}">Далее</a></li>
    {% endif %}
  </ul>

</div><!-- /.blog-main -->
{% endblock %}
